service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://orderservice.example.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://orderservice.example.com/"
             name="OrderManagementService">

    <!-- Types Section -->
    <types>
        <xsd:schema targetNamespace="http://orderservice.example.com/">
            <!-- Order Type -->
            <xsd:complexType name="Order">
                <xsd:sequence>
                    <xsd:element name="orderId" type="xsd:string"/>
                    <xsd:element name="customerId" type="xsd:string"/>
                    <xsd:element name="orderDate" type="xsd:dateTime"/>
                    <xsd:element name="totalAmount" type="xsd:decimal"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Customer Type -->
            <xsd:complexType name="Customer">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="address" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Request/Response Elements -->
            <xsd:element name="CreateOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="order" type="tns:Order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CreateOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="order" type="tns:Order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateOrderStatusRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="newStatus" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateOrderStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetCustomerOrdersRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetCustomerOrdersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orders" type="tns:Order" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="CreateOrderInput">
        <part name="parameters" element="tns:CreateOrderRequest"/>
    </message>
    <message name="CreateOrderOutput">
        <part name="parameters" element="tns:CreateOrderResponse"/>
    </message>
    <message name="GetOrderInput">
        <part name="parameters" element="tns:GetOrderRequest"/>
    </message>
    <message name="GetOrderOutput">
        <part name="parameters" element="tns:GetOrderResponse"/>
    </message>
    <message name="UpdateOrderStatusInput">
        <part name="parameters" element="tns:UpdateOrderStatusRequest"/>
    </message>
    <message name="UpdateOrderStatusOutput">
        <part name="parameters" element="tns:UpdateOrderStatusResponse"/>
    </message>
    <message name="GetCustomerOrdersInput">
        <part name="parameters" element="tns:GetCustomerOrdersRequest"/>
    </message>
    <message name="GetCustomerOrdersOutput">
        <part name="parameters" element="tns:GetCustomerOrdersResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="OrderServicePortType">
        <operation name="CreateOrder">
            <input message="tns:CreateOrderInput"/>
            <output message="tns:CreateOrderOutput"/>
        </operation>
        <operation name="GetOrder">
            <input message="tns:GetOrderInput"/>
            <output message="tns:GetOrderOutput"/>
        </operation>
        <operation name="UpdateOrderStatus">
            <input message="tns:UpdateOrderStatusInput"/>
            <output message="tns:UpdateOrderStatusOutput"/>
        </operation>
        <operation name="GetCustomerOrders">
            <input message="tns:GetCustomerOrdersInput"/>
            <output message="tns:GetCustomerOrdersOutput"/>
        </operation>
    </portType>

    <!-- Bindings -->
    <binding name="OrderServiceSoapBinding" type="tns:OrderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="CreateOrder">
            <soap:operation soapAction="http://orderservice.example.com/CreateOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="GetOrder">
            <soap:operation soapAction="http://orderservice.example.com/GetOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="UpdateOrderStatus">
            <soap:operation soapAction="http://orderservice.example.com/UpdateOrderStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="GetCustomerOrders">
            <soap:operation soapAction="http://orderservice.example.com/GetCustomerOrders"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="OrderManagementService">
        <port name="OrderServicePort" binding="tns:OrderServiceSoapBinding">
            <soap:address location="https://api.example.com/orders/v1"/>
        </port>
    </service>

</definitions>